<div class="header">
    <div style="display: flex; align-items: center;justify-content: space-between; height: 100%;width: 80%;">
        <input placeholder="Поиск" type="text" />
        <div>
            <img src="/assets/contacts.png" width="40" height="40" /><span style="white-space: normal;"> Berkamalov
                Baurzhan</span>
        </div>

    </div>
</div>
<div class="content">
    <p>Найдено 3 элемента</p>
    <div class="row" style="width: 75vw;">
        <div class="col-sm center">
            <div class="card">
                <div class="headerCard">
                    <img src="/assets/contacts.png" />
                </div>
                <div class="bodyCard">
                    <b class="center">Berkamalov Baurzhan</b>
                    <small class="center">Блогер</small><br />
                    <div class="center">
                        <img src="/assets/telegram.svg" height="40" width="40" />
                        <img src="/assets/facebook.svg" height="40" width="40" />
                        <img src="/assets/instagram.svg" height="40" width="40" />
                    </div>
                    <div class="center">
                        <div class="row">
                            <div class="col-sm">
                                <button class="btn profile"><img src="/assets/profile.svg" />Профиль</button>
                            </div>
                            <div class="col-sm">
                                <button class="btn message"><img src="/assets/message.svg" />Связаться</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm center">
            <div class="card">
                <div class="headerCard">
                    <img src="/assets/contacts.png" />
                </div>
                <div class="bodyCard">
                    <b class="center">Berkamalov Baurzhan</b>
                    <small class="center">Блогер</small><br />
                    <div class="center">
                        <img src="/assets/telegram.svg" height="40" width="40" />
                        <img src="/assets/facebook.svg" height="40" width="40" />
                        <img src="/assets/instagram.svg" height="40" width="40" />
                    </div>
                    <div class="center">
                        <div class="row">
                            <div class="col-sm">
                                <button class="btn profile"><img src="/assets/profile.svg" />Профиль</button>
                            </div>
                            <div class="col-sm">
                                <button class="btn message"><img src="/assets/message.svg" />Связаться</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm center">
            <div class="card">
                <div class="headerCard">
                    <img src="/assets/contacts.png" />
                </div>
                <div class="bodyCard">
                    <b class="center">Berkamalov Baurzhan</b>
                    <small class="center">Блогер</small><br />
                    <div class="center">
                        <img src="/assets/telegram.svg" height="40" width="40" />
                        <img src="/assets/facebook.svg" height="40" width="40" />
                        <img src="/assets/instagram.svg" height="40" width="40" />
                    </div>
                    <div class="center">
                        <div class="row">
                            <div class="col-sm">
                                <button class="btn profile"><img src="/assets/profile.svg" />Профиль</button>
                            </div>
                            <div class="col-sm">
                                <button class="btn message"><img src="/assets/message.svg" />Связаться</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>