<div class="header">
    <div class=" container">
        <h3 style="height: 10vh;">Fogo</h3>
    </div>
</div>

<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-sm" style="color: white;">
                <h1>Продвигайте товары и услуги в социальных сетях</h1>
                <p>Полная автоматизация массовых рекламных кампаний с лидерами мнений</p>

                <br />
                <b>Запустите рекламу с блогерами</b><br /><br />
                <div class="row">
                    <div class="col-sm">
                        <button id="upload">Стать инфлюенсером</button>
                    </div>
                    <div class="col-sm">
                        <button id="upload">Стать клиентом</button>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <img src="/assets/home.svg" />
            </div>
        </div><br /><br />
    </div>
</div>
<h2 class="title">Уникальность системы</h2>
<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="/assets/dashboard.svg" />
            </div>
            <div class="col-sm" style="color: white;">12asdsadsd</div>
        </div><br /><br />
    </div>
</div>

<h2 class="title">Все о Тарифах</h2>
<div class="box" style="padding: 7% 0;">
    <div class="container">
        <div class="row">
            <div class="col-sm center">
                <ol>
                    <li><a>на 2 пользователя (10 тыс тг)</a></li>
                    <li><a>на 5 пользователей (15 тыс тг)</a></li>
                    <li><a>на всех (100 тыс тг)</a></li>
                </ol>
            </div>
            <div class="col-sm">
                <img src="/assets/tariff.svg" />
            </div>
        </div>
    </div>
</div>

<h2 class="title">О нас</h2>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/about.svg" />
        </div>
        <div class="col-sm center">
            fdsfsdjfhdsjfh
        </div>
    </div>
</div>